<!DOCTYPE html>
<html ng-app="webstoreApp">
<head>
    <title>Cloudscale Datastore Example</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/webstore.css" rel="stylesheet">
</head>
<body ng-controller='MainCtrl'>
<div class='container'>
    <h1>Webstore</h1>
    <div class='navbar navbar-inverse' ng-show='authenticated' ng-controller='NavCtrl'>
        <div class='navbar-inner nav-collapse' style="height: auto;">
            <ul class="nav">
                <li ng-repeat='page in getPages(user.role)'>
                    <a href="#/{{page.link}}">{{page.name}}</a>
                </li>
            </ul>
            <a href='#' class="navbar-text pull-right" ng-click="logout()">Logout</a>
        </div>
    </div>
    <div id='content' class='row-fluid' ng-show='authenticated'>
        <div ng-view style="height:100%;"></div>
    </div>

    <form class="form-signin" ng-hide='authenticated' ng-controller='LoginCtrl' ng-submit="login()">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" class="input-block-level" placeholder="Username" ng-model="credentials.username">
        <input type="password" class="input-block-level" placeholder="Password" ng-model="credentials.password">
        <button class="btn btn-large btn-primary" type="submit">Sign in</button>
    </form>
</div>

<!-- JS imports -->
<!-- libs -->
<script src="js/jquery-1.9.1.min.js"></script>
<script src="js/vendor/angular.min.js"></script>
<script src="js/vendor/angular-resource.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/app.js"></script>
<!-- interceptor -->
<script src="js/interceptors/authentication.js"></script>
<!-- services -->
<script src="js/services/navigation.js"></script>
<script src="js/services/product.js"></script>
<script src="js/services/user.js"></script>
<script src="js/services/order.js"></script>
<!-- controller -->
<script src="js/controllers/main.js"></script>
<script src="js/controllers/login.js"></script>
<script src="js/controllers/navigation.js"></script>
<script src="js/controllers/products.js"></script>
<script src="js/controllers/user.js"></script>
<script src="js/controllers/order.js"></script>
</body>
</html>