<div class='span10 main'>
    <div class='header'>
        <div class='title'>My Account</div>
        <div>&nbsp;</div>
    </div>

    <div class="account">
        <div class="row-fluid">
            <div class="span4">Username:</div>
            <div class="span8">{{account.username}}</div>
        </div>

        <div class="row-fluid">
            <div class="span4">First Name:</div>
            <div class="span8">{{account.firstName}}</div>
        </div>

        <div class="row-fluid">
            <div class="span4">Last Name:</div>
            <div class="span8">{{account.lastName}}</div>
        </div>

        <div class="row-fluid">
            <div class="span4">Role:</div>
            <div class="span8">{{account.role}}</div>
        </div>

        <div class="row-fluid">
            <div class="span4">Address:</div>
            <div class="span8">{{account.address}}</div>
        </div>

        <div class="row-fluid">
            <div class="span4">Cite:</div>
            <div class="span8">{{account.city}}</div>
        </div>

        <div class="row-fluid">
            <div class="span4">Email:</div>
            <div class="span8">{{account.email}}</div>
        </div>

        <div class="row-fluid">
            <div class="span4">Phone:</div>
            <div class="span8">{{account.phone}}</div>
        </div>

        <div class="row-fluid">
            <div class="span4">Order:</div>
            <div class="span8">{{account.orderID}}</div>
        </div>
    </div>
</div>