<div class='span10 main'>
    <div class='header'>
        <div class='title'>Shopping Cart</div>
        <div><i class="icon-hdd"></i><a href ng-click="migrate()">Save</a></div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Anzahl</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in order.orderItems">
            <td><a ng-href="#/product/{{item.product.id}}">{{item.product.name}}</a></td>
            <td>{{item.count}}</td>
            <td>{{item.product.price}}</td>
            <td><a class="btn btn-small" href ng-click='deleteItem(order.orderID,item.product.id)'><i class="icon-trash"></i></a></td>
        </tr>
        <tr class="sumrow">
            <td colspan="2"><b>Sum:</b></td>
            <td colspan="2"><b>{{sum}}</b></td>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" type="button" href ng-click="pay()">Pay</a>
</div>