<div class='span10 main'>
    <div class='header'>
        <div class='title'>{{product.name}}</div>
        <div><i class="icon-shopping-cart"></i><a href ng-click="buy()">Buy</a></div>
    </div>

    <div class="product">
        <div class="row-fluid">
            <div class="span4">Price:</div>
            <div class="span8">{{product.price}}</div>
        </div>

        <div class="row-fluid" ng-repeat="property in product.properties">
            <div class="span4">{{property.name}}</div>
            <div class="span8">{{property.value}}</div>
        </div>
    </div>
</div>