<!--
<div class='span2 sidebar'>
    <ul class="nav nav-tabs nav-stacked">
        <li><a href='#/product/new'>New Product</a></li>
    </ul>
</div>-->
<div class='span10 main'>
    <div class='header'>
        <div class='title'>Products</div>
        <div ng-show='isAdmin()'><i class="icon-plus-sign"></i><a href='#/product/new'>Add</a></div>
        <div ng-hide='isAdmin()'>&nbsp;</div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="product in products">
                <td><a ng-href="#/product/{{product.id}}">{{product.name}}</a></td>
                <td>{{product.price}}</td>
                <td>
                    <a class="btn btn-small" href ng-click='deleteProduct(product.id)'><i class="icon-trash"></i></a>
                    <a class="btn btn-small" ng-href="#/product/edit/{{product.id}}"><i class="icon-edit"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>