<div class='span10 main'>
    <div class='header'>
        <div class='title'>New Product</div>
        <div>&nbsp;</div>
    </div>
    <form name="productForm" class="form-horizontal product-form"  ng-submit="save()">
        <div class="control-group">
            <label class="control-label" for="name">Name:</label>

            <div class="controls">
                <input type="text" ng-model="product.name" id="name" required>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="price">Price:</label>

            <div class="controls">
                <input type="number" step="0.01" ng-model="product.price" id="price" required>
            </div>
        </div>

        <div class="control-group" ng-repeat="property in product.properties">
            <label class="control-label">{{property.name}}:</label>

            <div class="controls">
                <input type="text" ng-model="property.value">
            </div>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="#propertyModal" role="button" class="btn" data-toggle="modal">Add Property</a>
        </div>

        <!-- Modal Panel -->
        <div id="propertyModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>Add Property</h3>
            </div>
            <div class="modal-body">
                <div class="control-group">
                    <label class="control-label" for="propertyName">Name:</label>

                    <div class="controls">
                        <input type="text" id="propertyName" ng-model="propertyName">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <a class="btn btn-primary" href ng-click="addProperty()">Add</a>
            </div>
        </div>
    </form>
</div>