body {
    background-color: #CCC;
    min-height: 100%;
}
#content {
    height: 100%;
    background-color: #FFF;
    border-radius: 5px;
}
#content .main {
    float: none;
    margin-left: auto;
    margin-right: auto;
}
#content .sidebar {
    padding: 10px;
}
#content p {
    line-height: 30px;
}

.sumrow {
    background-color: #ffffff;
    border-top: #808080 double;
}

.header {
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 6px;
    border-bottom: 2px solid #808080;
}

.header .title {
    font-size: 25px;
    padding-bottom: 6px;
    width: 94%;
    float:left;
}

.header .icon-plus-sign {
    padding-right: 5px;
}

.account,
.product,
.product-form {
    padding-top: 20px;
}

.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}